<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="javax.persistence.create-database-schemas">true</property>
        <property name="hibernate.default_schema">linwood</property>
        <!-- Entity mapping -->
        <mapping class="com.github.codedoctorde.linwood.entity.GuildEntity"/>
        <mapping class="com.github.codedoctorde.linwood.entity.TemplateEntity"/>
        <mapping class="com.github.codedoctorde.linwood.entity.GameEntity"/>
        <mapping class="com.github.codedoctorde.linwood.entity.MemberEntity"/>
        <mapping class="com.github.codedoctorde.linwood.entity.KarmaEntity"/>
        <mapping class="com.github.codedoctorde.linwood.entity.NotificationEntity"/>
    </session-factory>
</hibernate-configuration>